#root {
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.fc-event {
  background-color: #007bff !important; /* Couleur par défaut pour les événements */
  color: white !important;
  border: 1px solid #0056b3 !important;
}

.fc-event:hover {
  background-color: #0056b3 !important; /* Couleur plus foncée au survol */
  cursor: pointer;
}

.fc-daygrid-day:hover {
  background-color: #f8f9fa !important;
}

.fc-day-today {
  background-color: #343a40 !important; /* Mettre en surbrillance le jour actuel */
  color: white !important;
}

.modal-body ul {
  padding: 0;
}

.modal-body .list-group-item {
  border: none; /* Supprimer les bordures des éléments de liste */
}

.modal-footer .btn {
  border-radius: 0.25rem;
  padding: 0.5rem 1.25rem;
  font-size: 1rem;
}

.modal-footer .btn-primary {
  background-color: #007bff;
  border: none;
}

.modal-footer .btn-secondary {
  background-color: #6f8497;
  border: none;
}

.past-event {
  background-color: #ffd700 !important; /* Jaune pour les événements passés */
  color: black !important;
  border: none !important;
}

.conflict-event {
  background-color: #ff4d4f !important; /* Rouge pour les conflits */
  color: white !important;
  border: none !important;
}

.holiday-event {
  background-color: #ffcccc !important; /* Rouge clair pour les jours fériés */
  color: black !important;
  border: none !important;
}

.sunday-cell {
  background-color: #e0e0e0 !important; /* Gris clair pour les dimanches */
  color: #808080 !important;
}

@media (max-width: 768px) {
  #root {
    padding: 1rem;
    text-align: left; /* Aligner le texte à gauche sur les petits écrans */
  }

  .fc-event {
    font-size: 0.8rem; /* Réduire la taille des événements sur les petits écrans */
  }
}
