.filieres-container {
  padding: 40px 20px;
  text-align: center;
  background-color: #f9f9f9; /* Couleur de fond claire pour contraster avec les cartes */
}

.page-title {
  font-size: 2.5rem;
  margin-bottom: 40px;
  color: #333;
  font-weight: bold;
}

.filieres-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(280px, 1fr)); /* Colonnes flexibles */
  gap: 30px; /* Plus d'espace entre les cartes */
}

.filiere-card {
  background-color: #fff;
  border-radius: 12px;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1); /* Ombre plus marquée pour un effet de profondeur */
  overflow: hidden;
  padding: 2rem;
  transition: transform 0.3s ease, box-shadow 0.3s ease; /* Ajout d'une animation de transition */
}

.filiere-card:hover {
  transform: translateY(-10px); /* Effet de survol pour faire ressortir les cartes */
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); /* Ombre plus marquée au survol */
}

.filiere-icon {
  font-size: 3rem;
  color: #4c4faf; /* Couleur d'icône différente pour attirer l'attention */
  margin-bottom: 15px;
}

.filiere-content {
  padding: 20px 0;
}

.filiere-name {
  font-size: 1.8rem;
  margin-bottom: 15px;
  color: #333;
  font-weight: bold;
}

.filiere-description {
  font-size: 1.1rem;
  color: #555;
  line-height: 1.6;
  text-align: justify; /* Meilleure lisibilité du texte */
}

@media (max-width: 768px) {
  .filieres-grid {
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr)); /* Colonnes flexibles sur mobile */
  }
  
  .page-title {
    font-size: 2rem; /* Taille de titre réduite sur mobile */
  }
}
